@charset "ISO-8859-1";

header{
	text-align: center;
}

.datosPersonales{
	background-color: grey;
}

legend{
	border: 2px solid black;
	
}

.formacceso{
	
	background-color: sandybrown;
} 

.documentos{
	background-color: darkred;
}